<section class="relevants_news">
  <app-preview-new
    [src]="'../../../assets/images/image-retro-pcs.jpg'"
    [number]="'01'"
    [title]="'Reviving Retro PCs'"
    [paragraph]="'What happens when old PCs are given modern upgrades?'"
  ></app-preview-new>
  <app-preview-new
    [src]="'../../../assets/images/image-top-laptops.jpg'"
    [number]="'02'"
    [title]="'Top 10 Laptops of 2022'"
    [paragraph]="'Our best picks for various needs and budgets.'"
  ></app-preview-new>
  <app-preview-new
    [src]="'../../../assets/images/image-gaming-growth.jpg'"
    [number]="'03'"
    [title]="'The Growth of Gaming'"
    [paragraph]="'How the pandemic has sparked fresh opportunities.'"
  ></app-preview-new>
</section>
