<header class="header">
  <h2>LOGO</h2>

  <ul>
    <li><a href="#">Inicio</a></li>
    <li><a href="#">Pedido</a></li>
    <li><a href="#">Productos</a></li>
  </ul>
</header>
<div class="container mt-5">
  <h1>Tus pedidos <span class="color">al instante</span></h1>
  <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam, ipsa quas quisquam consectetur sint recusandae
    nihil dignissimos doloremque cumque, expedita impedit eum culpa molestias repellat, nulla maxime incidunt ex magni!
  </p>

  <img src="assets/images/tropival-uva.png" width="200" alt="">

  <button class="btn btn-warning ms-5">Empezar<i class="fas fa-arrow-right me-2"></i></button>
</div>
<router-outlet></router-outlet>