<div class="container">
  <div class="d-flex justify-content-center justify-content-md-start  align-content-center gap-2 mb-3 flex-wrap">
    <h2><i class="bi bi-receipt"></i> Listado de Pedidos</h2>
    <button (click)="openModal(formularioPedidos)" class="btn btn-warning"><i class="bi bi-plus-circle"></i>
      Nuevo Pedido</button>
    <button class="btn btn-danger" [disabled]="allPedidos.length==0" (click)="generatePDF()"><i
        class="bi bi-filetype-pdf"></i> PDF</button>
    <button class="btn btn-success" [disabled]="allPedidos.length==0" (click)="downloadExcel()"><i
        class="bi bi-file-earmark-spreadsheet"></i>
      Excel</button>
  </div>

  <p class="paragraph">Crea un nuevo pedido</p>


  <div class="table-responsive  table-height">
    <table class="table table-dark table-striped mt-1">
      <thead>
        <tr>
          <th>#</th>
          <th>Cliente</th>
          <th>Fecha Pedido</th>
          <th>Estado</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let item of listPedidos.content;let i=index;">
          <td>{{i+1}}</td>
          <td>{{item.cliente.nombre}}</td>
          <td>{{item.fechaPedido}}</td>
          <td><span [class]="item.estado? 'badge text-bg-info' : 'badge text-bg-danger' ">{{item.estado ? 'Entregado' :
              'Devolución'}}</span></td>
          <td class="d-md-flex gap-2 justify-content-center">
            <button (click)="eliminar(item.id)" data-toggle="tooltip" data-placement="bottom" title="Eliminar"
              class="btn bg-transparent text-danger"><i class="bi bi-trash3-fill"></i></button>
            <button (click)="openModal(formularioPedidos,item)" data-toggle="tooltip" data-placement="bottom"
              title="Editar" class="btn bg-transparent text-success"><i class="bi bi-pencil-fill"></i></button>
          </td>
        </tr>
        <tr *ngIf="listPedidos.content.length == 0">
          <td class="text-center" colspan="5">{{isLoading ? 'cargando ...' : 'No se encontraron resultados'}}</td>
        </tr>


      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-end">
    <ngb-pagination [pageSize]="listPedidos.pageable.pageSize" [collectionSize]="listPedidos.totalElements"
      (pageChange)="pageChange($event)" [(page)]="currentPage"></ngb-pagination>
  </div>

  <canvas baseChart [type]="'pie'" [datasets]="pieChartDatasets" [labels]="pieChartLabels" [options]="pieChartOptions"
    [plugins]="pieChartPlugins" [legend]="pieChartLegend">
  </canvas>

</div>


<ng-template #formularioPedidos>
  <div class="modal-header">
    <h4 class="modal-title">{{this.formularioPedido.get('idPedido')?.value ? 'Editar Pedido': 'Nuevo Pedido'}}</h4>
  </div>
  <div class="modal-body">
    <form id="formularioPedido" name="formularioPedido" [formGroup]="formularioPedido" (ngSubmit)="guardar()">
      <div *ngIf="!isEditar">
        <div class="alert alert-primary" role="alert">
          <i class="bi bi-info-circle"></i> Para los nuevos pedidos el estado es Activo
        </div>
      </div>

      <div class="mb-3">
        <label for="fecha" class="form-label">Fecha pedido</label>
        <input type="date" [class]="esCampoValido('fechaPedido')" formControlName="fechaPedido" class="form-control"
          id="fecha" placeholder="name@example.com">
        <div class="invalid-feedback">
          <span *ngIf="formularioPedido.get('fechaPedido')?.errors?.['required']">Se requiere una fecha para el
            pedido</span>
        </div>
      </div>

      <div class="mb-3">
        <ng-select [class]="esCampoValido('cliente')" formControlName="cliente" placeholder="Seleccione un Cliente">

          <ng-option *ngFor="let cliente of listClientes" [value]="cliente.id">{{cliente.nombre}}</ng-option>
        </ng-select>
        <div class="invalid-feedback">
          <span *ngIf="formularioPedido.get('cliente')?.errors?.['required']">Seleccione un Cliente</span>
        </div>
      </div>

      <div *ngIf="isEditar" class="row p-2">
        <div class="col-md-3 form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" formControlName="estado" value="entregado">

            Enregado
          </label>
        </div>

        <div class=" col-md-3 form-check">
          <label class="form-check-label">
            <input class="form-check-input" type="radio" formControlName="estado" value="devolucion">

            Devolución
          </label>
        </div>

      </div>


      <!-- <span>*Aqui se asignarían los productos de la tabla detalle_pedido*</span> -->

    </form>
  </div>
  <div class="modal-footer">
    <button form="formularioPedido" type="submit" class="btn btn-primary">Guardar</button>
    <button type="button" class="btn btn-secondary" (click)="close()">Cerrar</button>
  </div>
</ng-template>