<nav class="navbar">
  <img class="navbar__logo" src="assets/images/tayicon.webp" alt="taylo swift logo">

  <div class="hamburger" (click)="openMenu()">
    <span class="line"></span>
    <span class="line"></span>
    <span class="line"></span>
  </div>
  <ul id="menu" class="menu hidden">
    <li><a (click)="selectItem()" routerLink="/">Home</a></li>
    <li><a (click)="selectItem()" routerLink="/mangas">Mangas</a></li>
    <li><a (click)="selectItem()" routerLink="/taylor">Taylor</a></li>
  </ul>
</nav>
