.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #ffffe8;
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  li {
    list-style: none;
  }

  a {
    text-decoration: none;
    font-weight: bolder;
    color: #2f2f2f;
  }
  a:hover {
    color: #0f0e0e;
  }
}
