.btn-option {
  background-color: #3e3f4b;
  color: inherit;
  border: none;
  width: 100%;
  padding: 12px;
  font-size: 14px;
  line-height: 1.5;
  border-radius: 8px;
  // transition: 0.2s background-color linear;
  cursor: pointer;
}

.btn-option:hover {
  background-color: #202123;
}
