@import "~@ng-select/ng-select/themes/default.theme.css";
:root {
  --bg-color: #1a1e24;
  --nav-hover: #2f3235;
  --primary-color: red;
  --white-color: #f2f2f2;
  --paragraph: #7d8590;
}

body {
  font-family: system-ui;
  background-color: var(--bg-color);
  color: var(--white-color);
}

.paragraph {
  color: var(--paragraph);
  font-weight: 400;
  padding: 10px;

  @media only screen and (min-width: 992px) {
    font-size: 20px;
  }
}

ngb-pagination li a {
  background-color: #35383b !important;
  color: #fff !important;
  border-color: unset !important;
}

ngb-pagination li a:focus {
  box-shadow: unset !important;
}

ngb-pagination .page-item.active .page-link {
  background-color: #f9b424 !important;
  color: #fff !important;
  :focus {
    outline: none !important;
  }
}
