/* You can add global styles to this file, and also import other style files */
* {
  font-family: sans-serif, Arial;
}
html,
body {
  background: #eee9da;
  margin: 20px;
  color: #3e4144;
}
button {
  background-color: black;
  border-radius: 15px;
  border: 0px;
  color: white;
  cursor: alias;
  margin-right: 5px;
  margin-left: 5px;
  padding: 5px 10px;
}
