<!-- <section class="main_section"> -->
  <!-- <div class="main_section__manga">
    <img src="assets/images/anime-manga.webp" alt="">
  </div> -->

  <!-- <div class="main_section__texts">
    <h1 class="main_section__texts__title">Discover The Most Awesome Things <span class="main_section__texts__title-focus">Here!</span></h1>
    <p class="main_section__texts__paragraph">Taylor Swift, mangas and anime ... This is a Wonderland!!</p>
  </div>
<div class="main_section__images">
  <img class="main_section__images__img" src="assets/images/taylor-polaroid.webp" alt="Taylor Swift Reputation">
  <img class="main_section__images__img" src="assets/images/ghost.webp" alt="Ghost image">
</div>
</section> -->

