<div class="container">
    <div class="content">
        <h1>Tus pedidos al <span class="text-100">instante</span></h1>
        <p class="paragraph">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Asperiores dolore ratione soluta
            in exercitationem
            maxime ducimus quasi, fugiat laboriosam atque?</p>
        <div class="get-action">
            <div class="container__image">
                <img class="image" src="assets/images/Champan12ozVrDestapada.png" alt="">
            </div>
            <div>
                <a routerLink="pedido" class="btn btn-warning action">Hacer pedidos <i
                        class="bi bi-arrow-right-circle"></i></a>
            </div>
        </div>
    </div>
</div>
