<div class="container mt-5">
  <p>Binding works</p>
  <hr />
  <input
    type="text"
    class="form-control"
    [placeholder]="textPlaceHolder"
    [disabled]="habilitar"
  />
  <br />
  <input [type]="textType" class="form-check-input" [checked]="isChecked" />
  <hr />
  <button type="button" [class]="clase" [disabled]="habilitar">
    Disabled Button
  </button>

  <div class="form-check form-switch mt-3">
    <input
      type="checkbox"
      class="form-check-input"
      role="switch"
      id="flexSwitchCheckDefault"
      (click)="cambiarPropiedad()"
    />
    <label for="" class="form-check-label" for="flexSwitchCheckDefault"
      >Estado</label
    >
  </div>
  <hr />
</div>
