.news_container {
  background-color: var(--very-dark-blue);
  color: var(--off-white);
  padding: 0 20px;
  margin: 0 20px;

  // width: 90%;
  // margin: 0 auto;
}
.news_title {
  color: var(--soft-orange);
  padding: 10px 0;
}

div app-new {
  display: block;
  border-bottom: 1px solid var(--grayish-blue);
}

div app-new:last-child {
  display: block;
  border-bottom: unset;
}

@media screen and (min-width: 992px) {
  .news_container {
    margin: unset;
    height: 100%;
  }

  .news_title {
    font-size: 40px;
  }
}
