html,
body {
  height: 100%;
}

#barraLateral {
  height: 100%;
  min-height: 100vh;
  min-width: 200px;
}

.promise-avatar-example {
  border-radius: 50%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  width: 200px;
}

.active:hover {
  color: rgb(0, 47, 255);
}
