<main class="container">
  <section class="cards_img">
    <div class="cards_img__container cards_img__container-1">
      <img
        class="cards_img__container__item"
        src="assets/images/bg-card-back.png"
        alt="card Back"
      />
      <span class="cards_img__container-1__card__cvc">000</span>
    </div>
    <div class="cards_img__container cards_img__container-2">
      <img
        class="cards_img__container-2__logo"
        src="assets/images/card-logo.svg"
        alt="logo"
      />
      <img
        class="cards_img__container__item"
        src="assets/images/bg-card-front.png"
        alt="card Front"
      />
      <span class="card-number">000 0000 000 00</span>
      <div class="card-information">
        <span class="card-name">Jane Aplessed</span>
        <span class="date-ven">00/00</span>
      </div>
    </div>
  </section>

  <section class="information__section">
    <form action="">
      <div class="form-row">
        <label for="">CardHolder Name</label>
        <input type="text" placeholder="e.g. Jane Appleseed" />
      </div>

      <div class="form-row">
        <label for="">Card Number</label>
        <input type="text" placeholder="e.g. 123 5678 9123 0000" />
      </div>

      <div class="form-row form-row-3">
        <input type="text" placeholder="MM" />
        <input type="text" placeholder="YY" />
        <input type="text" placeholder="e.g. 123" />
      </div>
    </form>
  </section>
</main>
