<main class="container">
  <section class="section__imgs">
    <div class="images__container">
      <div class="images__container__item images__container__item-1">
        <div class="images__container__item__info">
          <img
            class="images__container__item__info__img"
            src="assets/images/bg-card-back.png"
            alt=""
          />
          <span class="card__cvc">{{
            formulario.get("cardCvc")?.value || "000"
          }}</span>
        </div>
      </div>

      <div class="images__container__item images__container__item-2">
        <div class="images__container__item__info">
          <img
            class="images__container__item__info__svg"
            src="assets/images/card-logo.svg"
            alt=""
          />
          <img
            class="images__container__item__info__img"
            src="assets/images/bg-card-front.png"
            alt=""
          />

          <span class="card-number">{{
            formulario.get("cardNumber")?.value || "0000 0000 0000 0000"
              | creditCard
          }}</span>

          <div class="card-info">
            <span>{{
              formulario.get("cardName")?.value || "JANE APPLESED"
            }}</span>
            <span
              >{{ formulario.get("cardMonth")?.value || "00" }} /
              {{ formulario.get("cardYear")?.value || "00" }}</span
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <ng-container *ngIf="formSubmit == false">
    <section class="section__form">
      <form class="form" (ngSubmit)="guardar()" [formGroup]="formulario">
        <div class="form-item">
          <label for="">Cardholder name</label>
          <input
            type="text"
            class="form-input"
            placeholder="e.g. Jane Appleseed"
            formControlName="cardName"
            maxlength="50"
            [class]="esCampoValido('cardName')"
          />

          <div class="invalid-form">
            <span
              *ngIf="formulario.get('cardName')?.errors?.['required']"
              class="invalid-form-error"
              >Can't be blank
            </span>
            <span
              *ngIf="formulario.get('cardName')?.errors?.['pattern']"
              class="invalid-form-error"
              >Wrong format, letters only
            </span>
          </div>
        </div>

        <div class="form-item">
          <label for="">Card Number</label>
          <input
            type="text"
            class="form-input"
            required
            placeholder="e.g. 123 5678 9123 0000"
            formControlName="cardNumber"
            maxlength="16"
            [class]="esCampoValido('cardNumber')"
          />
          <div class="invalid-form">
            <span
              *ngIf="formulario.get('cardNumber')?.errors?.['required']"
              class="invalid-form-error"
              >Can't be blank
            </span>
            <span
              *ngIf="formulario.get('cardNumber')?.errors?.['pattern']"
              class="invalid-form-error"
              >Wrong format, numbers only
            </span>
          </div>
        </div>

        <div class="row">
          <div class="form-item">
            <label for="">Exp. Date (MM / YY)</label>
            <div class="row-2">
              <div>
                <input
                  type="text"
                  class="form-input form-input-2"
                  placeholder="MM"
                  formControlName="cardMonth"
                  maxlength="2"
                  [class]="esCampoValido('cardMonth')"
                />
                <div class="invalid-form">
                  <span
                    *ngIf="formulario.get('cardMonth')?.errors?.['required']"
                    class="invalid-form-error"
                    >Can't be blank
                  </span>
                  <span
                    *ngIf="formulario.get('cardMonth')?.errors?.['pattern']"
                    class="invalid-form-error"
                    >Wrong format, number only
                  </span>
                </div>
              </div>
              <div>
                <input
                  type="text"
                  class="form-input form-input-2"
                  placeholder="YY"
                  formControlName="cardYear"
                  maxlength="2"
                  [class]="esCampoValido('cardYear')"
                />
                <div class="invalid-form">
                  <span
                    *ngIf="formulario.get('cardYear')?.errors?.['required']"
                    class="invalid-form-error"
                    >Can't be blank
                  </span>
                  <span
                    *ngIf="formulario.get('cardYear')?.errors?.['pattern']"
                    class="invalid-form-error"
                    >Wrong format, number only
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-item">
            <label for="">CVC</label>
            <div>
              <input
                type="text"
                class="form-input"
                placeholder="e.g. 123"
                formControlName="cardCvc"
                maxlength="3"
                [class]="esCampoValido('cardCvc')"
              />
              <div class="invalid-form">
                <span
                  *ngIf="formulario.get('cardCvc')?.errors?.['required']"
                  class="invalid-form-error"
                  >Can't be blank
                </span>
                <span
                  *ngIf="formulario.get('cardCvc')?.errors?.['pattern']"
                  class="invalid-form-error"
                  >Wrong format, numbers only
                </span>
              </div>
            </div>
          </div>
        </div>
        <button type="submit" class="btn">Confirm</button>
      </form>
    </section>
  </ng-container>

  <ng-container *ngIf="formSubmit">
    <div class="message-confirm">
      <img
        class="message-confirm__img"
        src="assets/images/icon-complete.svg"
        alt=""
      />
      <div class="messages">
        <span class="message">THANK YOU!</span>
        <span class="message-description">We've added your card details</span>
      </div>

      <button (click)="changeStatus()" class="btn">Continue</button>
    </div>
  </ng-container>
</main>
