.aside {
  background-color: #2f2f2f;
  width: 300px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  color: #fff;
  text-align: center;
  padding: 20px;
}

.list {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  &__item {
    list-style: none;
    background-color: #f2f2f2;

    a {
      display: block;
      padding: 10px;
      text-decoration: none;
      color: #2f2f2f;
      font-weight: bold;
      word-wrap: break-word;
    }
  }
}
