
.card{
  width: 250px;
  background-color: #f2f2f2;
  border-radius: 10px;
  overflow: hidden;
  min-height: 350px;
  text-align: center;
  &__img{
    width: 100%;
    object-fit: cover;
  }

  p{
    padding: 20px;
  }
}
