@use "variables" with($secundary: gray, $color_footer: #18122b);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: variables.$font1;
}

body {
  background-color: variables.$primary;
}

#top {
  display: flex;
  background-color: variables.$secundary;
  text-align: left;
}

h1 {
  margin: 8px 0 0 0;
  padding: 0 0 0 15px;
  color: variables.$tono_celeste;
}

p {
  text-align: justify;
}

.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.contenido {
  width: 100%;
  display: flex;
  text-align: left;
  flex-direction: row;
  text-align: left;
}

.list-cursos {
  width: 60%;
  padding: 5px;
}

/* ul {
      padding-left: 20px;
    } */

.pacman {
  width: 30%;
  padding: 5px;
}

.pac {
  width: 50px;
  margin: 5px;
  border-bottom: 50px solid variables.$tono_celeste;
  border-top: 50px solid variables.$tono_celeste;
  border-left: 50px solid variables.$tono_celeste;
  border-right: 50px solid transparent;
  border-radius: 50%;
}

footer {
  background-color: variables.$color_footer;
  margin-top: 5px;
  padding: 1em;
  position: fixed;

  width: 100%;
  font-size: 18px;
  color: beige;
  bottom: 0;
  text-align: center;
  line-height: 20px;
}

@media (max-width: 600px) {
  #top {
    background-color: variables.$rojo;
  }

  .pac {
    width: 70px;
    margin: 5px;
    border-bottom: 70px solid variables.$tono_celeste;
    border-top: 70px solid variables.$tono_celeste;
    border-left: 70px solid variables.$tono_celeste;
    border-right: 70px solid transparent;
    border-radius: 50%;
  }
}
