/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Martel Sans", sans-serif;
  background-color: #343541;
  color: #ececf1;

  // background-color: #202123;
}
