/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --input-border: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  --input-red: hsl(0, 100%, 66%);
  //  Neutral

  --white: hsl(0, 0%, 100%);
  --light-grayish-violet: hsl(270, 3%, 87%);
  --dark-grayish-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
}

body {
  font-size: 18px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 500;
}
