.header {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  min-height: 90px;

  &__image {
    width: 250px;
  }

  ul {
    display: flex;
    gap: 10px;
    margin: 0;
    li {
      list-style: none;
      a {
        padding: 12px;
        text-decoration: none;
        font-weight: 500;
        color: var(--white-color);
      }
      a:hover {
        background-color: var(--nav-hover);
      }
    }
  }
}
